[project]
name = "project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "matplotlib>=3.7.2",
    "numpy>=1.26.4",
    "opencv-python>=4.11.0.86",
]
